.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  /* background-color: #f5b8d3; */
  color: #ec779e;
  background-image: radial-gradient(circle,  #f5b8d333, #f5b8d3);
  background-size:200% 200%;
}
